<!-- style @symptom.description with an alert class -->
<h3><%= @symptom.description.upcase %></h3>

<div class="container">
  <div class="row">
    <div class="col">
      <% @food_days.each do |day| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <%= day.day_of_week + ", " + day.month_day_year %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              You experienced <%= @symptom.description %> on this day. Your foods:
            </h6>
            <p class="card-text">
              <% day.foods.each do |food| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to food.name, user_food_path(@user, food) %>
                  </li>
                </ul>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <% @food_next_day_after_each.each do |day| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <%= day.day_of_week + ", " + day.month_day_year %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              You ate <%= @food.name %> one day ago. Your symptoms:
            </h6>
            <p class="card-text">
              <% day.symptoms.each do |symptom| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to symptom.description, user_symptom_path(@user, symptom) %>
                  </li>
                </ul>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <% @food_two_days_after_each.each do |day| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <%= day.day_of_week + ", " + day.month_day_year %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              You ate <%= @food.name %> two days ago. Your symptoms:
            </h6>
            <p class="card-text">
              <% day.symptoms.each do |symptom| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to symptom.description, user_symptom_path(@user, symptom) %>
                  </li>
                </ul>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
