<h3>Sign in or log in to begin tracking your food intolerances: </h3>
<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Sign In
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <%= form_for @user, url: {controller: "sessions", action: "create"} do |f| %>
          <%= f.label :name, "Name:"%>
          <%= f.text_field :username %>
          <%= f.label :password, "Password:"%>
          <%= f.text_field :password %>
          <%= f.submit "Sign In" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Sign Up
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <%= form_for @user, url: {controller: "users", action: "create"} do |f| %>
          <%= f.label :name, "Name:"%>
          <%= f.text_field :username %>
          <%= f.label :password, "Password:"%>
          <%= f.text_field :password %>
          <%= f.submit "Sign Up" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
