<h5>Sign in or log in to begin tracking your food intolerances: </h5>
<div class="card" style="width: 18rem;">
  <h5 class="card-header">Existing User?</h5>
  <div class="card-body">
    <%= form_for @user, url: {controller: "sessions", action: "create"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Username:"%>
        <%= f.text_field :username %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password:"%>
        <%= f.text_field :password %>
      </div>
      <%= f.submit "Sign In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <h5 class="card-header">New User?</h5>
  <div class="card-body">
    <%= form_for @user, url: {controller: "users", action: "create"} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name:"%>
        <%= f.text_field :username %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password:"%>
        <%= f.text_field :password %>
      </div>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
