<!-- display/edit username -->
<h3>Welcome <%= @user.username %>!</h3>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= "Today: " + @day.day_of_week + ", " + @day.month_day_year %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      What did you eat today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Serving</th>
          </tr>
        </thead>
        <tbody>
          <% @day.days_foods.each do |days_food| %>
          <tr>
            <% if days_food.valid? %>
              <th scope="row">
                <%= link_to days_food.food.name, user_food_path(@user, days_food.food) %>
              </th>
              <td>
                <%= days_food.serving %>  /<%= link_to("delete", "/users/#{@user.id}/days_foods/#{days_food.id}", method: :delete) %>
              </td>
              <th scope="row">
                <%= days_food.comments %>
              </th>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@user, @days_food] do |f| %>
          <%= f.hidden_field :day_id, value: @day.id %>
          <%= f.collection_select(:food_id, @user.food_names, :id, :name, {include_blank: 'Existing food?', selected: 'Existing food?'}) %>
          <%= f.fields_for :food do |food_fields| %>
            <br><%= food_fields.text_field :name, placeholder: "Or create new food" %>
            <br>
          <% end %>
          <%= f.number_field :serving, placeholder: "Servings (required)" %>
          <%= f.text_field :comments, value: @days_food.comments, placeholder: "Comments?"  %>
          <%= f.submit "Add food", class: "btn btn-primary" %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      What did you feel today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Symptom</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <% @day.days_symptoms.each do |days_symptom| %>
          <tr>
            <% if days_symptom.valid? %>
              <th scope="row">
                <%= link_to days_symptom.symptom.description, user_symptom_path(@user, days_symptom.symptom) %>
              </th>
              <td>
                <%= days_symptom.frequency %>  /<%= link_to("delete", "/users/#{@user.id}/days_symptoms/#{days_symptom.id}", method: :delete) %>
              </td>
              <th scope="row">
                <%= days_symptom.comments %>
              </th>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@user, @days_symptom] do |f| %>
          <%= f.hidden_field :day_id, value: @day.id %>
          <%= f.collection_select(:symptom_id, @user.symptom_descriptions, :id, :description, {include_blank: 'Existing symptom?', selected: 'Existing symptom?'}) %>
          <%= f.fields_for :symptom do |symptom_fields| %>
            <br><%= symptom_fields.text_field :description, placeholder: "Or create new symptom" %>
            <br>
          <% end %>
          <%= f.number_field :frequency, placeholder: "Frequency (required)" %>
          <%= f.text_field :comments, value: @days_symptom.comments, placeholder: "Comments for today?"  %>
          <%= f.submit "Add Symptom", class: "btn btn-primary" %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
