<!-- display/edit username -->
<h3>Welcome <%= @user.username %>!</h3>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= "Today: " + @day.day_of_week + ", " + @day.month_day_year %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      What did you eat today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Serving</th>
          </tr>
        </thead>
        <tbody>
          <% @day.foods.each do |food| %>
          <tr>
            <th scope="row">
              <%= link_to food.name, user_food_path(@user, food) %>
            </th>
            <td>
              <%= food.serving %>  /<%= link_to("delete", "/users/#{@user.id}/foods/#{food.id}", method: :delete) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@user, @days_food] do |f| %>
          <%= f.hidden_field :day_id, value: @day.id %>
          <%= f.collection_select(:food_id, @user.food_names, :id, :name, {include_blank: 'Choose a food', selected: 'Choose a food'}) %>
          <%= f.fields_for :foods, @day.foods.build do |foods_fields| %>
            <br><%= foods_fields.text_field :name, placeholder: "Or create a new food" %>
            <br>
          <% end %>
          <%= f.number_field :serving, placeholder: "Servings (required)" %>
          <%= f.text_field :comments, value: @day.comments, placeholder: "Comments?"  %>
          <%= f.submit "Add food", class: "btn btn-primary" %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      What did you feel today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Symptom</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <% @day.symptoms.each do |symptom| %>
          <tr>
            <th scope="row">
              <%= link_to symptom.description, user_symptom_path(@user, symptom) %>
            </th>
            <td>
              <%= symptom.frequency %>  /<%= link_to("delete", "/users/#{@user.id}/symptoms/#{symptom.id}", method: :delete) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@user, @days_symptom] do |f| %>
          <%= f.hidden_field :day_id, value: @day.id %>
          <%= f.collection_select(:symptom_id, @user.symptom_descriptions, :id, :description, {include_blank: 'Choose a symptom', selected: 'Choose a symptom'}) %>
          <%= f.fields_for :symptoms, @day.symptoms.build do |symptoms_fields| %>
            <br><%= symptoms_fields.text_field :description, placeholder: "Or create new symptom" %>
            <br>
          <% end %>
          <%= f.number_field :frequency, placeholder: "Frequency (required)" %>
          <%= f.text_field :comments, value: @days_symptom.comments, placeholder: "Comments for today?"  %>
          <%= f.submit "Add Symptom", class: "btn btn-primary" %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
