<!-- display/edit username, link to user_symptoms_path -->
<h3>Welcome <%= @user.username %>!</h3>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= "Today: " + @day.day_of_week + ", " + @day.month_day_year %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      What did you put in your body today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Serving</th>
          </tr>
        </thead>
        <tbody>
          <% @day.foods.each do |food| %>
          <tr>
            <th scope="row">
              <%= link_to food.name, user_food_path(@user, food) %>
            </th>
            <td>
              <%= food.serving %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="form-group">
        <%= form_for [@user, @day] do |f| %>
          <%= f.collection_select(:food_ids, @user.foods, :id, :name, {include_blank: 'Existing food?'}) %>
          <%= f.fields_for :foods, @day.foods.build do |foods_fields| %>
            <br>Add New Food: <%= foods_fields.text_field :name, placeholder: "New food?" %>
            <br>
            <%= foods_fields.number_field :serving, placeholder: "Servings" %>
          <% end %>
          <%= f.text_field :comments, value: @day.comments, placeholder: "Comments for today?"  %>
          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item">
      What did your body experience today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Symptom</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <% @day.symptoms.each do |symptom| %>
          <tr>
            <th scope="row">
              <%= link_to symptom.description, user_symptom_path(@user, symptom) %>
            </th>
            <td>
              <%= symptom.frequency %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_for(@symptom, url: user_symptoms_path(@user), method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_field :description, placeholder: "Add New Symptom"  %>
          <%= f.label :frequency %>
          <%= f.number_field :frequency %>
          <%= f.submit "Add", class: "btn btn-primary" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>
