<%# display/edit username, link to user_symptoms_path, link to user_food_path %>

<h3>Welcome <%= @user.username %>!</h3>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= "Today: " + @day.day_of_week + ", " + @day.month_day_year %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      What did you put in your body today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Food</th>
            <th scope="col">Serving</th>
          </tr>
        </thead>
        <tbody>
          <% @day.foods.each do |food| %>
          <tr>
            <th scope="row"><%= food.name %></th>
            <td><%= food.serving %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_for(@food, url: user_foods_path(@user.id), method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Food"  %>
          <%= f.text_field :serving, placeholder: "Servings" %>
          <%= f.submit "Add New Food", class: "btn btn-primary" %>
        </div>
      <% end %>
    </li>
    <li class="list-group-item">
      What did your body experience today?
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Symptom</th>
            <th scope="col">Frequency</th>
          </tr>
        </thead>
        <tbody>
          <% @day.symptoms.each do |symptom| %>
          <tr>
            <th scope="row"><%= symptom.description %></th>
            <td><%= symptom.frequency %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_for(@symptom, url: user_symptoms_path(@user.id), method: :post) do |f| %>
        <div class="form-group">
          <%= f.text_field :description, placeholder: "Symptom"  %>
          <%= f.text_field :frequency, placeholder: "Frequency" %>
          <%= f.submit "Add New Symptom", class: "btn btn-primary" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>
