<h3>Here is a list of your days:</h3>

<% @days.each do |day| %>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <%= day.day_of_week + ", " + day.month_day_year %>
    </div>
    <ul class="list-group list-group-flush">
      <% day.comments.uniq.each do |comment| %>
        <li class="list-group-item">
          <%= comment %>
        </li>
      <% end %>
      <li class="list-group-item">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Food</th>
              <th scope="col">Serving</th>
            </tr>
          </thead>
          <tbody>
            <% day.foods.each do |food| %>
            <tr>
              <th scope="row">
                <%= link_to food.name, user_food_path(@user, food) %>
              </th>
              <td>
                <%= food.serving %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </li>
      <li class="list-group-item">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Symptom</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <% day.symptoms.each do |symptom| %>
            <tr>
              <th scope="row">
                <%= link_to symptom.description, user_symptom_path(@user, symptom) %>
              </th>
              <td>
                <%= symptom.frequency %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
<% end %>
