<div class="container">
  <h3><%= @food.name.split.map(&:capitalize).join(' ') %></h3>
  <% @food_days.each do |day| %>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">
          When you ate <%= @food.name %>, these were your symptoms:
        </h5>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">
            Date: <%= day.date %>
          </h6>
          <p class="card-text">
            <% day.symptoms.each do |symptom| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <%= link_to symptom.description, user_symptom_path(current_user, symptom) %>
                </li>
              </ul>
            <% end %>
          </p>
        </div>
      </div>
      <% if day.next_day %>
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">
            On the next day, these were your symptoms:
          </h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
              Date: <%= day.next_day.date %>
            </h6>
            <p class="card-text">
              <% day.next_day_symptoms.each do |symptom| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to symptom.description, user_symptom_path(current_user, symptom) %>
                  </li>
                </ul>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <% if day.two_days_later %>
        <div class="card" style="width: 18rem;">
          <h5 class="card-title">
            Two days later, these were your symptoms:
          </h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
              Date: <%= day.two_days_later.date %>
            </h6>
            <p class="card-text">
              <% day.two_days_later_symptoms.each do |symptom| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= link_to symptom.description, user_symptom_path(current_user, symptom) %>
                  </li>
                </ul>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
