<h3>Let's see what symptoms you were experiencing when you were eating <%= @food.name %></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Symptoms</th>
      <th scope="col">on the day:</th>
      <th scope="col">next day:</th>
      <th scope="col">2 days later:</th>
    </tr>
  </thead>
  <tbody>
    <%= @food_days.each do |day| %>
    <tr>
      <th scope="row"></th>
      <td><%= day.day_of_week, day.month_day_year %>
        <%= day.symptoms %>
      </td>
      <td><%= day.next_day.month_day_year, day.next_day.month_day_year %>
        <%= day.next_day_symptoms %>
      </td>
      <td><%= day.two_days_later.day_of_week, day.two_days_later.month_day_year %>
        <%= day.two_days_later_symptoms %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
