<!doctype html>
<html lang="en">
  <head>
    <title>FoodIntoleranceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Home", "/" %>
      <% if logged_in? %>
        <%= link_to "Profile", "/users/#{current_user.id}" %>
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign In", signin_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
