<!DOCTYPE html>
<html>
  <head>
    <title>FoodIntoleranceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%# display links to: home, %>
      <%# if logged_in?, display links to: profile, logout %>
      <%# else, display links to: signin %>
    </div>
    <%= yield %>
  </body>
</html>
